body {
    height: 100lvh;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a:link, a:visited, a:hover, a:active {
      text-decoration: none;
    }


header, footer{
    background-color: #1f2937;
}
header {
        padding: 0 10%;
}
h1{
    font-size: 48px;
    font-weight: extra-bold;
    color:#f9faf8;


}
header p, header a{
    font-size: 18px;
    color: #e5e4eb;

}

nav, nav div{
display: flex;
align-items: center;
justify-content: space-between; 
gap: 20px;
}
nav a {
    margin-left:auto;  
    gap: 30px;
}

header nav >a:first-child {
    margin-left:0;
    font-size: 24px;
}

button{
    background-color: #3882f6;
    color: #e5e4eb;
    border-radius: 8px;
}
h2{
font-size: 36px;
font-weight: extra-bold;
color: #1f2937
}

article {
    background-color:#e5e7eb;
}
q{
    
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}



footer{
    
}

44382690+aVamp1r3@users.noreply.github.com



ssh-keygen -t rsa -b 4096 -C "44382690+aVamp1r3@users.noreply.github.com"